h1 {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


h2{
    color: cadetblue;
    font-style: italic;
}
body {
    font-style: oblique;
    background-image: url(/home/michelle/Desktop/Myportfolio/images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    background-size: cover;
}